@{
  Layout = "_Layout";
}

@using Epidoughdus.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr/>
<div class="form-group col-md-6">
@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email, "Email: ")
    @Html.TextBoxFor(user=> user.Email, new {@class = "form-control"})

    @Html.LabelFor(user=> user.Password, "Password: ")
    @Html.PasswordFor(user=> user.Password, new {@class = "form-control"})

    @Html.LabelFor(user=> user.ConfirmPassword, "Confirm Password: ")
    @Html.PasswordFor(user=> user.ConfirmPassword, new {@class = "form-control"})

    <input type="submit" value="Register" class="btn btn-info" />
}
</div>