@{
  Layout = "_Layout";
}

@model Epidoughdus.Models.Treat

<h3>Add A New Treat</h3>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Treat Name:")
    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})

    @Html.LabelFor(model => model.Calories, "Calories:")
    @Html.TextBoxFor(model => model.Calories, new {@class = "form-control"})

    @Html.LabelFor(model => model.Rating)
    <select id="Rating" name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    @Html.Label("Select Flavor Type")
    @Html.DropDownList("FlavorId")<br>

    <input type="submit" value="Add Treat" class="btn btn-info" />
}
<p>@Html.ActionLink("View All Treats", "Index", new {}, new {@class = "html-links"})</p>